In [4]:
import pymysql

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\prash\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [76]:
connection = pymysql.connect(user= 'root',
                             password='mysql',
                             host='localhost',
                             database='sales')

In [77]:
cursor=connection.cursor()

In [4]:
cursor.execute('Show Tables')

13

In [5]:
cursor.fetchall()

(('archived_dim_product',),
 ('colors',),
 ('dim_customer',),
 ('dim_product',),
 ('dim_state',),
 ('employee',),
 ('employees',),
 ('fact_sales',),
 ('product_category_sales',),
 ('product_log',),
 ('products',),
 ('sizes',),
 ('student',))

In [8]:
query="Select * from fact_sales"

In [9]:
cursor.execute(query)
cursor.fetchall()[1:5]

(('OD10',
  datetime.date(2015, 6, 9),
  'CLW531',
  41,
  Decimal('1795.000'),
  Decimal('0.27'),
  'HP',
  'Shimla',
  'KRI619',
  None),
 ('OD100',
  datetime.date(2017, 8, 29),
  'CLW714',
  50,
  Decimal('4500.000'),
  Decimal('0.26'),
  'KA',
  'Mangalore',
  'KRI619',
  None),
 ('OD1000',
  datetime.date(2016, 10, 28),
  'SER215',
  17,
  Decimal('2914.870'),
  Decimal('0.23'),
  'MP',
  'Jabalpur',
  'RUM621',
  None),
 ('OD1001',
  datetime.date(2017, 11, 10),
  'RFT905',
  3,
  Decimal('240.430'),
  Decimal('0.10'),
  'KL',
  'Kochi',
  'SUD871',
  None))

In [8]:
QUERY="""Select c.customer , p.product , count(f.product_code) as Count
From fact_sales f
join dim_customer c on c.customer_code=f.customer_code
join dim_product p on p.`Product code`=f.Product_code
group by 1,2
having count(f.product_code)>1
order by count(f.product_code) desc;"""

In [9]:
cursor.execute(QUERY)
cursor.fetchall()

(('Krithika', 'Cakes', 20),
 ('Alan', 'Cookies', 19),
 ('Kumar', 'Noodles', 18),
 ('Amrish', 'Biscuits', 17),
 ('Yusuf', 'Chocolates', 17),
 ('Muneer', 'Edible Oil & Ghee', 17),
 ('Ganesh', 'Noodles', 17),
 ('Esther', 'Noodles', 17),
 ('Amrish', 'Noodles', 17),
 ('Adavan', 'Spices', 17),
 ('Peer', 'Organic Staples', 16),
 ('Haseena', 'Chocolates', 16),
 ('Vinne', 'Eggs', 16),
 ('Ganesh', 'Cookies', 16),
 ('Hussain', 'Cookies', 16),
 ('Yusuf', 'Edible Oil & Ghee', 16),
 ('Vidya', 'Spices', 16),
 ('Mathew', 'Spices', 16),
 ('Hussain', 'Breads & Buns', 16),
 ('Arutra', 'Breads & Buns', 16),
 ('Yusuf', 'Masalas', 15),
 ('Komal', 'Masalas', 15),
 ('Shah', 'Biscuits', 15),
 ('Rumaiza', 'Cakes', 15),
 ('Mathew', 'Chocolates', 15),
 ('Suresh', 'Chocolates', 15),
 ('Peer', 'Cookies', 15),
 ('Vidya', 'Mutton', 15),
 ('Suresh', 'Organic Vegetables', 15),
 ('Sabeela', 'Noodles', 15),
 ('Shree', 'Noodles', 15),
 ('Amrish', 'Breads & Buns', 15),
 ('Arutra', 'Fresh Vegetables', 14),
 ('Veronica', 'Fresh Vegetables', 14),
 ('Akash', 'Biscuits', 14),
 ('Aditi', 'Cakes', 14),
 ('Vidya', 'Chocolates', 14),
 ('Anu', 'Chocolates', 14),
 ('Surya', 'Chocolates', 14),
 ('Harish', 'Chocolates', 14),
 ('Sudeep', 'Chocolates', 14),
 ('Malik', 'Cookies', 14),
 ('Esther', 'Cookies', 14),
 ('Vinne', 'Cookies', 14),
 ('Jonas', 'Cookies', 14),
 ('James', 'Edible Oil & Ghee', 14),
 ('Akash', 'Edible Oil & Ghee', 14),
 ('Aditi', 'Edible Oil & Ghee', 14),
 ('Ravi', 'Noodles', 14),
 ('Krithika', 'Noodles', 14),
 ('Willams', 'Organic Fruits', 14),
 ('Komal', 'Organic Fruits', 14),
 ('Ganesh', 'Breads & Buns', 14),
 ('Jackson', 'Breads & Buns', 14),
 ('Malik', 'Masalas', 13),
 ('Sundar', 'Masalas', 13),
 ('Sabeela', 'Masalas', 13),
 ('Ganesh', 'Atta & Flour', 13),
 ('Peer', 'Fresh Vegetables', 13),
 ('Krithika', 'Fresh Vegetables', 13),
 ('Arvind', 'Fresh Vegetables', 13),
 ('Malik', 'Organic Staples', 13),
 ('Veronica', 'Fresh Fruits', 13),
 ('Ravi', 'Fresh Fruits', 13),
 ('Haseena', 'Fresh Fruits', 13),
 ('Sudha', 'Biscuits', 13),
 ('Vinne', 'Chocolates', 13),
 ('Adavan', 'Chocolates', 13),
 ('Sheeba', 'Chocolates', 13),
 ('Sharon', 'Cookies', 13),
 ('Haseena', 'Cookies', 13),
 ('Veronica', 'Cookies', 13),
 ('Veena', 'Cookies', 13),
 ('Verma', 'Chicken', 13),
 ('Malik', 'Edible Oil & Ghee', 13),
 ('Verma', 'Mutton', 13),
 ('Vidya', 'Organic Vegetables', 13),
 ('Vinne', 'Noodles', 13),
 ('Verma', 'Noodles', 13),
 ('Adavan', 'Noodles', 13),
 ('James', 'Organic Fruits', 13),
 ('Sheeba', 'Fish', 13),
 ('Esther', 'Fish', 13),
 ('Sundar', 'Spices', 13),
 ('Shah', 'Breads & Buns', 13),
 ('James', 'Breads & Buns', 13),
 ('Sheeba', 'Breads & Buns', 13),
 ('Harish', 'Breads & Buns', 13),
 ('Shree', 'Masalas', 12),
 ('Arutra', 'Masalas', 12),
 ('Shah', 'Masalas', 12),
 ('Vidya', 'Masalas', 12),
 ('Roshan', 'Fresh Fruits', 12),
 ('Verma', 'Biscuits', 12),
 ('Vince', 'Biscuits', 12),
 ('Malik', 'Biscuits', 12),
 ('Mathew', 'Biscuits', 12),
 ('Ram', 'Biscuits', 12),
 ('Sundar', 'Biscuits', 12),
 ('Harish', 'Cakes', 12),
 ('Ramesh', 'Cakes', 12),
 ('Shah', 'Cakes', 12),
 ('Arvind', 'Cakes', 12),
 ('Muneer', 'Cakes', 12),
 ('Kumar', 'Cakes', 12),
 ('Jonas', 'Cakes', 12),
 ('Ravi', 'Chocolates', 12),
 ('Ram', 'Chocolates', 12),
 ('Amy', 'Chocolates', 12),
 ('James', 'Cookies', 12),
 ('Ravi', 'Cookies', 12),
 ('Ridhesh', 'Cookies', 12),
 ('Amrish', 'Cookies', 12),
 ('Amy', 'Cookies', 12),
 ('Hussain', 'Chicken', 12),
 ('Alan', 'Edible Oil & Ghee', 12),
 ('Jonas', 'Edible Oil & Ghee', 12),
 ('Shree', 'Edible Oil & Ghee', 12),
 ('Hussain', 'Edible Oil & Ghee', 12),
 ('Muneer', 'Noodles', 12),
 ('Sundar', 'Noodles', 12),
 ('Amy', 'Noodles', 12),
 ('Suresh', 'Noodles', 12),
 ('Suresh', 'Fish', 12),
 ('Shree', 'Fish', 12),
 ('Ridhesh', 'Spices', 12),
 ('Surya', 'Spices', 12),
 ('Amrish', 'Spices', 12),
 ('Komal', 'Spices', 12),
 ('Aditi', 'Breads & Buns', 12),
 ('Yusuf', 'Breads & Buns', 12),
 ('Sabeela', 'Breads & Buns', 12),
 ('Adavan', 'Breads & Buns', 12),
 ('Vidya', 'Breads & Buns', 12),
 ('Malik', 'Breads & Buns', 12),
 ('Ram', 'Masalas', 11),
 ('Sudeep', 'Masalas', 11),
 ('Arvind', 'Masalas', 11),
 ('Vinne', 'Masalas', 11),
 ('James', 'Masalas', 11),
 ('Jonas', 'Masalas', 11),
 ('Krithika', 'Masalas', 11),
 ('Sabeela', 'Fresh Vegetables', 11),
 ('Ganesh', 'Fresh Vegetables', 11),
 ('Surya', 'Organic Staples', 11),
 ('Ravi', 'Organic Staples', 11),
 ('Arutra', 'Organic Staples', 11),
 ('Vinne', 'Organic Staples', 11),
 ('Harish', 'Fresh Fruits', 11),
 ('Amrish', 'Fresh Fruits', 11),
 ('Surya', 'Fresh Fruits', 11),
 ('Muneer', 'Fresh Fruits', 11),
 ('Ram', 'Fresh Fruits', 11),
 ('Verma', 'Fresh Fruits', 11),
 ('Willams', 'Biscuits', 11),
 ('James', 'Biscuits', 11),
 ('Rumaiza', 'Biscuits', 11),
 ('Suresh', 'Biscuits', 11),
 ('Arvind', 'Biscuits', 11),
 ('Haseena', 'Cakes', 11),
 ('Mathew', 'Cakes', 11),
 ('Hafiz', 'Cakes', 11),
 ('Amy', 'Cakes', 11),
 ('Ridhesh', 'Chocolates', 11),
 ('Kumar', 'Chocolates', 11),
 ('Krithika', 'Chocolates', 11),
 ('Roshan', 'Chocolates', 11),
 ('Sundar', 'Chocolates', 11),
 ('Veena', 'Chocolates', 11),
 ('Aditi', 'Chocolates', 11),
 ('Hussain', 'Chocolates', 11),
 ('Sharon', 'Chocolates', 11),
 ('Yadav', 'Chocolates', 11),
 ('Arutra', 'Eggs', 11),
 ('Ramesh', 'Eggs', 11),
 ('Ram', 'Eggs', 11),
 ('Surya', 'Eggs', 11),
 ('Sharon', 'Eggs', 11),
 ('Yusuf', 'Eggs', 11),
 ('Ramesh', 'Cookies', 11),
 ('Mathew', 'Cookies', 11),
 ('Yusuf', 'Cookies', 11),
 ('Surya', 'Cookies', 11),
 ('Sundar', 'Cookies', 11),
 ('Adavan', 'Cookies', 11),
 ('Haseena', 'Chicken', 11),
 ('Akash', 'Chicken', 11),
 ('Sheeba', 'Chicken', 11),
 ('Ramesh', 'Edible Oil & Ghee', 11),
 ('Arvind', 'Edible Oil & Ghee', 11),
 ('Krithika', 'Edible Oil & Ghee', 11),
 ('Hafiz', 'Edible Oil & Ghee', 11),
 ('Anu', 'Edible Oil & Ghee', 11),
 ('Kumar', 'Mutton', 11),
 ('Malik', 'Mutton', 11),
 ('Anu', 'Mutton', 11),
 ('Shah', 'Mutton', 11),
 ('Willams', 'Mutton', 11),
 ('Shah', 'Organic Vegetables', 11),
 ('Yusuf', 'Noodles', 11),
 ('Hafiz', 'Noodles', 11),
 ('Sheeba', 'Noodles', 11),
 ('Harish', 'Noodles', 11),
 ('Roshan', 'Noodles', 11),
 ('Verma', 'Organic Fruits', 11),
 ('Yadav', 'Fish', 11),
 ('Yusuf', 'Spices', 11),
 ('Sheeba', 'Spices', 11),
 ('Kumar', 'Spices', 11),
 ('Ganesh', 'Spices', 11),
 ('Ravi', 'Spices', 11),
 ('Amrish', 'Rice', 11),
 ('Anu', 'Rice', 11),
 ('Alan', 'Rice', 11),
 ('Yadav', 'Breads & Buns', 11),
 ('Sudeep', 'Breads & Buns', 11),
 ('Akash', 'Breads & Buns', 11),
 ('Esther', 'Breads & Buns', 11),
 ('Jonas', 'Breads & Buns', 11),
 ('Vince', 'Breads & Buns', 11),
 ('Shree', 'Breads & Buns', 11),
 ('Ridhesh', 'Breads & Buns', 11),
 ('Harish', 'Masalas', 10),
 ('Anu', 'Masalas', 10),
 ('Suresh', 'Masalas', 10),
 ('Sharon', 'Masalas', 10),
 ('Veronica', 'Masalas', 10),
 ('Amy', 'Masalas', 10),
 ('Jackson', 'Masalas', 10),
 ('Haseena', 'Masalas', 10),
 ('Veena', 'Masalas', 10),
 ('Rumaiza', 'Masalas', 10),
 ('Ravi', 'Masalas', 10),
 ('Suresh', 'Atta & Flour', 10),
 ('Roshan', 'Atta & Flour', 10),
 ('Akash', 'Atta & Flour', 10),
 ('Rumaiza', 'Atta & Flour', 10),
 ('Amy', 'Atta & Flour', 10),
 ('Vinne', 'Atta & Flour', 10),
 ('Muneer', 'Atta & Flour', 10),
 ('Aditi', 'Atta & Flour', 10),
 ('Harish', 'Fresh Vegetables', 10),
 ('Alan', 'Fresh Vegetables', 10),
 ('Mathew', 'Organic Staples', 10),
 ('Alan', 'Organic Staples', 10),
 ('Shree', 'Organic Staples', 10),
 ('Rumaiza', 'Organic Staples', 10),
 ('Shree', 'Fresh Fruits', 10),
 ('Arvind', 'Fresh Fruits', 10),
 ('Rumaiza', 'Fresh Fruits', 10),
 ('Hafiz', 'Biscuits', 10),
 ('Yusuf', 'Biscuits', 10),
 ('Surya', 'Biscuits', 10),
 ('Yadav', 'Biscuits', 10),
 ('Sabeela', 'Biscuits', 10),
 ('Arutra', 'Biscuits', 10),
 ('Sudeep', 'Biscuits', 10),
 ('Sharon', 'Biscuits', 10),
 ('Kumar', 'Biscuits', 10),
 ('Adavan', 'Biscuits', 10),
 ('Amrish', 'Cakes', 10),
 ('James', 'Cakes', 10),
 ('Ravi', 'Cakes', 10),
 ('Jackson', 'Cakes', 10),
 ('Verma', 'Cakes', 10),
 ('Muneer', 'Chocolates', 10),
 ('Komal', 'Chocolates', 10),
 ('Jackson', 'Eggs', 10),
 ('Vidya', 'Eggs', 10),
 ('Jonas', 'Eggs', 10),
 ('Veronica', 'Eggs', 10),
 ('Ram', 'Cookies', 10),
 ('Jackson', 'Cookies', 10),
 ('Sudha', 'Cookies', 10),
 ('Shah', 'Cookies', 10),
 ('Aditi', 'Cookies', 10),
 ('Komal', 'Cookies', 10),
 ('Ramesh', 'Chicken', 10),
 ('Vince', 'Chicken', 10),
 ('Harish', 'Chicken', 10),
 ('Hafiz', 'Chicken', 10),
 ('Jonas', 'Chicken', 10),
 ('Ridhesh', 'Edible Oil & Ghee', 10),
 ('Sudeep', 'Edible Oil & Ghee', 10),
 ('Peer', 'Edible Oil & Ghee', 10),
 ('Muneer', 'Mutton', 10),
 ('Shree', 'Mutton', 10),
 ('Veena', 'Mutton', 10),
 ('Komal', 'Mutton', 10),
 ('Suresh', 'Mutton', 10),
 ('Jackson', 'Mutton', 10),
 ('Sharon', 'Organic Vegetables', 10),
 ('Muneer', 'Organic Vegetables', 10),
 ('Surya', 'Organic Vegetables', 10),
 ('Adavan', 'Organic Vegetables', 10),
 ('Anu', 'Noodles', 10),
 ('Malik', 'Noodles', 10),
 ('Akash', 'Noodles', 10),
 ('Sudeep', 'Noodles', 10),
 ('Veena', 'Noodles', 10),
 ('Ridhesh', 'Noodles', 10),
 ('Arvind', 'Noodles', 10),
 ('Jackson', 'Noodles', 10),
 ('Krithika', 'Organic Fruits', 10),
 ('Akash', 'Organic Fruits', 10),
 ('Haseena', 'Organic Fruits', 10),
 ('Hafiz', 'Organic Fruits', 10),
 ('Harish', 'Fish', 10),
 ('Krithika', 'Fish', 10),
 ('Komal', 'Fish', 10),
 ('Verma', 'Fish', 10),
 ('Sudha', 'Fish', 10),
 ('Veena', 'Spices', 10),
 ('Verma', 'Spices', 10),
 ('Shah', 'Spices', 10),
 ('Akash', 'Rice', 10),
 ('Shah', 'Rice', 10),
 ('Arvind', 'Breads & Buns', 10),
 ('Vinne', 'Breads & Buns', 10),
 ('Amy', 'Breads & Buns', 10),
 ('Alan', 'Breads & Buns', 10),
 ('Vince', 'Masalas', 9),
 ('Sudha', 'Masalas', 9),
 ('Hussain', 'Masalas', 9),
 ('Sabeela', 'Atta & Flour', 9),
 ('Surya', 'Atta & Flour', 9),
 ('Amrish', 'Atta & Flour', 9),
 ('Krithika', 'Atta & Flour', 9),
 ('Kumar', 'Atta & Flour', 9),
 ('Esther', 'Atta & Flour', 9),
 ('Yusuf', 'Atta & Flour', 9),
 ('Suresh', 'Fresh Vegetables', 9),
 ('Veena', 'Fresh Vegetables', 9),
 ('Sundar', 'Fresh Vegetables', 9),
 ('Amrish', 'Fresh Vegetables', 9),
 ('Verma', 'Fresh Vegetables', 9),
 ('Aditi', 'Organic Staples', 9),
 ('Sharon', 'Organic Staples', 9),
 ('Sudha', 'Organic Staples', 9),
 ('Ram', 'Organic Staples', 9),
 ('Hussain', 'Organic Staples', 9),
 ('Ramesh', 'Organic Staples', 9),
 ('Komal', 'Organic Staples', 9),
 ('Sudeep', 'Organic Staples', 9),
 ('Veena', 'Fresh Fruits', 9),
 ('Sudha', 'Fresh Fruits', 9),
 ('Esther', 'Biscuits', 9),
 ('Vinne', 'Biscuits', 9),
 ('Alan', 'Biscuits', 9),
 ('Harish', 'Biscuits', 9),
 ('Ramesh', 'Biscuits', 9),
 ('Jonas', 'Biscuits', 9),
 ('Veronica', 'Biscuits', 9),
 ('Malik', 'Cakes', 9),
 ('Hussain', 'Cakes', 9),
 ('Willams', 'Cakes', 9),
 ('Sudeep', 'Cakes', 9),
 ('Vince', 'Cakes', 9),
 ('Sharon', 'Cakes', 9),
 ('Veronica', 'Cakes', 9),
 ('Ganesh', 'Chocolates', 9),
 ('Peer', 'Chocolates', 9),
 ('Jonas', 'Chocolates', 9),
 ('Sudha', 'Chocolates', 9),
 ('Shah', 'Chocolates', 9),
 ('Akash', 'Eggs', 9),
 ('Alan', 'Eggs', 9),
 ('Roshan', 'Eggs', 9),
 ('James', 'Eggs', 9),
 ('Haseena', 'Eggs', 9),
 ('Amy', 'Eggs', 9),
 ('Sudeep', 'Cookies', 9),
 ('Yadav', 'Cookies', 9),
 ('Arvind', 'Cookies', 9),
 ('Akash', 'Cookies', 9),
 ('Roshan', 'Cookies', 9),
 ('Anu', 'Cookies', 9),
 ('Suresh', 'Cookies', 9),
 ('Peer', 'Chicken', 9),
 ('Roshan', 'Chicken', 9),
 ('Sudeep', 'Chicken', 9),
 ('Krithika', 'Chicken', 9),
 ('Anu', 'Chicken', 9),
 ('Komal', 'Chicken', 9),
 ('Roshan', 'Edible Oil & Ghee', 9),
 ('Arutra', 'Edible Oil & Ghee', 9),
 ('Surya', 'Edible Oil & Ghee', 9),
 ('Esther', 'Edible Oil & Ghee', 9),
 ('Veena', 'Edible Oil & Ghee', 9),
 ('Shah', 'Edible Oil & Ghee', 9),
 ('Sharon', 'Edible Oil & Ghee', 9),
 ('Arutra', 'Mutton', 9),
 ('Hafiz', 'Mutton', 9),
 ('Vinne', 'Mutton', 9),
 ('Vince', 'Mutton', 9),
 ('Surya', 'Mutton', 9),
 ('Sudha', 'Mutton', 9),
 ('Alan', 'Organic Vegetables', 9),
 ('Arutra', 'Organic Vegetables', 9),
 ('Peer', 'Organic Vegetables', 9),
 ('Ridhesh', 'Organic Vegetables', 9),
 ('Malik', 'Organic Vegetables', 9),
 ('Vinne', 'Organic Vegetables', 9),
 ('Yadav', 'Organic Vegetables', 9),
 ('Shah', 'Noodles', 9),
 ('Sudha', 'Noodles', 9),
 ('Sharon', 'Noodles', 9),
 ('Veena', 'Organic Fruits', 9),
 ('Veronica', 'Organic Fruits', 9),
 ('Suresh', 'Organic Fruits', 9),
 ('Sabeela', 'Organic Fruits', 9),
 ('Aditi', 'Organic Fruits', 9),
 ('Anu', 'Fish', 9),
 ('Vince', 'Fish', 9),
 ('Arvind', 'Fish', 9),
 ('Surya', 'Fish', 9),
 ('Arutra', 'Fish', 9),
 ('Vidya', 'Fish', 9),
 ('Veena', 'Fish', 9),
 ('Krithika', 'Spices', 9),
 ('Malik', 'Spices', 9),
 ('Harish', 'Spices', 9),
 ('Sudeep', 'Spices', 9),
 ('Vinne', 'Spices', 9),
 ('Sudha', 'Spices', 9),
 ('Suresh', 'Spices', 9),
 ('Akash', 'Spices', 9),
 ('Arutra', 'Spices', 9),
 ('Sharon', 'Spices', 9),
 ('Ridhesh', 'Rice', 9),
 ('Jonas', 'Rice', 9),
 ('Hussain', 'Rice', 9),
 ('Sharon', 'Rice', 9),
 ('Vince', 'Rice', 9),
 ('Sabeela', 'Rice', 9),
 ('Sudeep', 'Rice', 9),
 ('Peer', 'Breads & Buns', 9),
 ('Sharon', 'Breads & Buns', 9),
 ('Willams', 'Breads & Buns', 9),
 ('Verma', 'Breads & Buns', 9),
 ('Mathew', 'Breads & Buns', 9),
 ('Sudha', 'Breads & Buns', 9),
 ('Veena', 'Breads & Buns', 9),
 ('Veronica', 'Breads & Buns', 9),
 ('Muneer', 'Breads & Buns', 9),
 ('Verma', 'Masalas', 8),
 ('Willams', 'Masalas', 8),
 ('Amrish', 'Masalas', 8),
 ('Yadav', 'Masalas', 8),
 ('Adavan', 'Atta & Flour', 8),
 ('Komal', 'Atta & Flour', 8),
 ('Peer', 'Atta & Flour', 8),
 ('Hafiz', 'Atta & Flour', 8),
 ('Veronica', 'Atta & Flour', 8),
 ('Komal', 'Fresh Vegetables', 8),
 ('Yusuf', 'Fresh Vegetables', 8),
 ('Surya', 'Fresh Vegetables', 8),
 ('Haseena', 'Fresh Vegetables', 8),
 ('Adavan', 'Fresh Vegetables', 8),
 ('Harish', 'Organic Staples', 8),
 ('James', 'Organic Staples', 8),
 ('Verma', 'Organic Staples', 8),
 ('Amy', 'Fresh Fruits', 8),
 ('Komal', 'Fresh Fruits', 8),
 ('Vidya', 'Fresh Fruits', 8),
 ('Sharon', 'Fresh Fruits', 8),
 ('Adavan', 'Fresh Fruits', 8),
 ('Arutra', 'Fresh Fruits', 8),
 ('Yadav', 'Fresh Fruits', 8),
 ('Yusuf', 'Fresh Fruits', 8),
 ('Sheeba', 'Biscuits', 8),
 ('Roshan', 'Biscuits', 8),
 ('Ganesh', 'Cakes', 8),
 ('Alan', 'Cakes', 8),
 ('Sheeba', 'Cakes', 8),
 ('Veena', 'Cakes', 8),
 ('Esther', 'Cakes', 8),
 ('Rumaiza', 'Chocolates', 8),
 ('Arutra', 'Chocolates', 8),
 ('Malik', 'Chocolates', 8),
 ('Verma', 'Chocolates', 8),
 ('Vince', 'Chocolates', 8),
 ('Kumar', 'Eggs', 8),
 ('Arvind', 'Eggs', 8),
 ('Ganesh', 'Eggs', 8),
 ('Anu', 'Eggs', 8),
 ('Willams', 'Eggs', 8),
 ('Vince', 'Eggs', 8),
 ('Ravi', 'Eggs', 8),
 ('Sudeep', 'Eggs', 8),
 ('Vidya', 'Cookies', 8),
 ('Krithika', 'Cookies', 8),
 ('Arutra', 'Cookies', 8),
 ('Muneer', 'Cookies', 8),
 ('Harish', 'Cookies', 8),
 ('Kumar', 'Cookies', 8),
 ('Vince', 'Cookies', 8),
 ('Rumaiza', 'Cookies', 8),
 ('Arutra', 'Chicken', 8),
 ('Suresh', 'Chicken', 8),
 ('Ravi', 'Chicken', 8),
 ('Jackson', 'Chicken', 8),
 ('Veronica', 'Chicken', 8),
 ('Sheeba', 'Edible Oil & Ghee', 8),
 ('Vidya', 'Edible Oil & Ghee', 8),
 ('Harish', 'Edible Oil & Ghee', 8),
 ('Verma', 'Edible Oil & Ghee', 8),
 ('Adavan', 'Edible Oil & Ghee', 8),
 ('Vince', 'Edible Oil & Ghee', 8),
 ('Suresh', 'Edible Oil & Ghee', 8),
 ('Sudha', 'Edible Oil & Ghee', 8),
 ('Amrish', 'Mutton', 8),
 ('Roshan', 'Mutton', 8),
 ('Hussain', 'Mutton', 8),
 ('Esther', 'Mutton', 8),
 ('Ridhesh', 'Mutton', 8),
 ('Sundar', 'Mutton', 8),
 ('Alan', 'Mutton', 8),
 ('Krithika', 'Mutton', 8),
 ('Mathew', 'Mutton', 8),
 ('Arvind', 'Organic Vegetables', 8),
 ('Anu', 'Organic Vegetables', 8),
 ('Haseena', 'Organic Vegetables', 8),
 ('Esther', 'Organic Vegetables', 8),
 ('Sudeep', 'Organic Vegetables', 8),
 ('Roshan', 'Organic Vegetables', 8),
 ('Hussain', 'Noodles', 8),
 ('Ram', 'Noodles', 8),
 ('Arvind', 'Organic Fruits', 8),
 ('Amy', 'Organic Fruits', 8),
 ('Shree', 'Organic Fruits', 8),
 ('Muneer', 'Organic Fruits', 8),
 ('Malik', 'Organic Fruits', 8),
 ('Ram', 'Fish', 8),
 ('Willams', 'Fish', 8),
 ('Mathew', 'Fish', 8),
 ('Sharon', 'Fish', 8),
 ('Hussain', 'Fish', 8),
 ('Jonas', 'Fish', 8),
 ('Kumar', 'Fish', 8),
 ('Amy', 'Spices', 8),
 ('Jonas', 'Spices', 8),
 ('Alan', 'Spices', 8),
 ('Ramesh', 'Spices', 8),
 ('Muneer', 'Spices', 8),
 ('Haseena', 'Spices', 8),
 ('Muneer', 'Rice', 8),
 ('Sudha', 'Rice', 8),
 ('Shree', 'Rice', 8),
 ('Esther', 'Rice', 8),
 ('Mathew', 'Rice', 8),
 ('Ramesh', 'Rice', 8),
 ('Krithika', 'Rice', 8),
 ('Yusuf', 'Rice', 8),
 ('Ganesh', 'Rice', 8),
 ('Hafiz', 'Breads & Buns', 8),
 ('Krithika', 'Breads & Buns', 8),
 ('Surya', 'Breads & Buns', 8),
 ('Haseena', 'Breads & Buns', 8),
 ('Kumar', 'Breads & Buns', 8),
 ('Ramesh', 'Breads & Buns', 8),
 ('Aditi', 'Masalas', 7),
 ('Esther', 'Masalas', 7),
 ('Ganesh', 'Masalas', 7),
 ('Adavan', 'Masalas', 7),
 ('Surya', 'Masalas', 7),
 ('Muneer', 'Masalas', 7),
 ('Akash', 'Masalas', 7),
 ('Alan', 'Masalas', 7),
 ('Roshan', 'Masalas', 7),
 ('Veena', 'Atta & Flour', 7),
 ('Hussain', 'Atta & Flour', 7),
 ('Vidya', 'Atta & Flour', 7),
 ('Haseena', 'Atta & Flour', 7),
 ('Ram', 'Atta & Flour', 7),
 ('Vince', 'Atta & Flour', 7),
 ('Yadav', 'Fresh Vegetables', 7),
 ('Vidya', 'Fresh Vegetables', 7),
 ('Roshan', 'Fresh Vegetables', 7),
 ('Esther', 'Fresh Vegetables', 7),
 ('Aditi', 'Fresh Vegetables', 7),
 ('Muneer', 'Fresh Vegetables', 7),
 ('Sudeep', 'Fresh Vegetables', 7),
 ('Shree', 'Fresh Vegetables', 7),
 ('Suresh', 'Organic Staples', 7),
 ('Ridhesh', 'Organic Staples', 7),
 ('Jonas', 'Organic Staples', 7),
 ('Amy', 'Organic Staples', 7),
 ('Veronica', 'Organic Staples', 7),
 ('Yusuf', 'Organic Staples', 7),
 ('Arvind', 'Organic Staples', 7),
 ('Shah', 'Organic Staples', 7),
 ('Amrish', 'Organic Staples', 7),
 ('Esther', 'Organic Staples', 7),
 ('Sheeba', 'Organic Staples', 7),
 ('Esther', 'Fresh Fruits', 7),
 ('Sundar', 'Fresh Fruits', 7),
 ('Jonas', 'Fresh Fruits', 7),
 ('Krithika', 'Fresh Fruits', 7),
 ('Akash', 'Fresh Fruits', 7),
 ('Hafiz', 'Fresh Fruits', 7),
 ('Malik', 'Fresh Fruits', 7),
 ('James', 'Fresh Fruits', 7),
 ('Jackson', 'Fresh Fruits', 7),
 ('Aditi', 'Biscuits', 7),
 ('Peer', 'Biscuits', 7),
 ('Ridhesh', 'Biscuits', 7),
 ('Jackson', 'Biscuits', 7),
 ('Krithika', 'Biscuits', 7),
 ('Ravi', 'Biscuits', 7),
 ('Adavan', 'Cakes', 7),
 ('Peer', 'Cakes', 7),
 ('Vinne', 'Cakes', 7),
 ('Shree', 'Cakes', 7),
 ('Anu', 'Cakes', 7),
 ('Sudha', 'Cakes', 7),
 ('Arutra', 'Cakes', 7),
 ('Sabeela', 'Cakes', 7),
 ('Komal', 'Cakes', 7),
 ('Ram', 'Cakes', 7),
 ('Yusuf', 'Cakes', 7),
 ('Hafiz', 'Chocolates', 7),
 ('Veronica', 'Chocolates', 7),
 ('Shree', 'Chocolates', 7),
 ('Esther', 'Chocolates', 7),
 ('Willams', 'Chocolates', 7),
 ('Sabeela', 'Eggs', 7),
 ('Suresh', 'Eggs', 7),
 ('Peer', 'Eggs', 7),
 ('Sundar', 'Eggs', 7),
 ('Komal', 'Eggs', 7),
 ('Sheeba', 'Eggs', 7),
 ('Muneer', 'Eggs', 7),
 ('Willams', 'Cookies', 7),
 ('Shree', 'Cookies', 7),
 ('Sharon', 'Chicken', 7),
 ('Surya', 'Chicken', 7),
 ('Malik', 'Chicken', 7),
 ('Shree', 'Chicken', 7),
 ('Vidya', 'Chicken', 7),
 ('Ganesh', 'Edible Oil & Ghee', 7),
 ('Willams', 'Edible Oil & Ghee', 7),
 ('Rumaiza', 'Edible Oil & Ghee', 7),
 ('Komal', 'Edible Oil & Ghee', 7),
 ('Yadav', 'Edible Oil & Ghee', 7),
 ('Jackson', 'Edible Oil & Ghee', 7),
 ('Veronica', 'Edible Oil & Ghee', 7),
 ('Mathew', 'Edible Oil & Ghee', 7),
 ('Amy', 'Mutton', 7),
 ('Rumaiza', 'Mutton', 7),
 ('Aditi', 'Mutton', 7),
 ('Haseena', 'Mutton', 7),
 ('Ramesh', 'Mutton', 7),
 ('Akash', 'Mutton', 7),
 ('Ram', 'Organic Vegetables', 7),
 ('Hussain', 'Organic Vegetables', 7),
 ('Vince', 'Organic Vegetables', 7),
 ('Ramesh', 'Organic Vegetables', 7),
 ('Veronica', 'Organic Vegetables', 7),
 ('Verma', 'Organic Vegetables', 7),
 ('Willams', 'Organic Vegetables', 7),
 ('Mathew', 'Organic Vegetables', 7),
 ('Peer', 'Noodles', 7),
 ('Yadav', 'Noodles', 7),
 ('Rumaiza', 'Noodles', 7),
 ('Willams', 'Noodles', 7),
 ('Arutra', 'Noodles', 7),
 ('Alan', 'Noodles', 7),
 ('Vince', 'Noodles', 7),
 ('Mathew', 'Noodles', 7),
 ('Surya', 'Noodles', 7),
 ('Surya', 'Organic Fruits', 7),
 ('Adavan', 'Organic Fruits', 7),
 ('Arutra', 'Organic Fruits', 7),
 ('Rumaiza', 'Organic Fruits', 7),
 ('Harish', 'Organic Fruits', 7),

In [33]:
### CREATE TABLE STUDENT

QUERY = """ DROP table if exists student;

        create table student (
        roll_number int primary key,
        student_name varchar(50),
        student_address varchar(100),
        course varchar(100));"""

In [34]:
for i in QUERY.split(';'):
    if i.strip():
      cursor.execute(i)



connection.commit()

In [38]:
quey='select * from student'
cursor.execute(quey)
cursor.fetchall()

()

In [17]:
### now insert the data into table student
data=[(1, "John Doe", "123 Main St", "Computer Science"),
    (2, "Jane Smith", "456 Oak Ave", "Mathematics"),
    (3, "Alice Johnson", "789 Pine Rd", "Physics"),
       ]

In [39]:
data

[(1, 'John Doe', '123 Main St', 'Computer Science'),
 (2, 'Jane Smith', '456 Oak Ave', 'Mathematics'),
 (3, 'Alice Johnson', '789 Pine Rd', 'Physics')]

In [40]:
query= """
        insert into student(roll_number,student_name,student_address,course)
        values(%s,%s,%s,%s)
        """

In [41]:
query

'\n        insert into student(roll_number,student_name,student_address,course)\n        values(%s,%s,%s,%s)\n        '

In [42]:
cursor.executemany(query,data)
connection.commit()

In [43]:
quey='select * from student'
cursor.execute(quey)
cursor.fetchall()

((1, 'John Doe', '123 Main St', 'Computer Science'),
 (2, 'Jane Smith', '456 Oak Ave', 'Mathematics'),
 (3, 'Alice Johnson', '789 Pine Rd', 'Physics'))

In [44]:
import pandas as pd

In [45]:
df=pd.read_sql(quey,connection)

C:\Users\prash\AppData\Local\Temp\ipykernel_3612\2176047562.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(quey,connection)

In [46]:
df

   roll_number   student_name student_address            course
0            1       John Doe     123 Main St  Computer Science
1            2     Jane Smith     456 Oak Ave       Mathematics
2            3  Alice Johnson     789 Pine Rd           Physics

In [47]:
QUERY="""Select c.customer , p.product , count(f.product_code) as Count
From fact_sales f
join dim_customer c on c.customer_code=f.customer_code
join dim_product p on p.`Product code`=f.Product_code
group by 1,2
having count(f.product_code)>1
order by count(f.product_code) desc;"""

In [48]:
df1=pd.read_sql(QUERY,connection)

C:\Users\prash\AppData\Local\Temp\ipykernel_3612\2890296245.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql(QUERY,connection)

In [49]:
df1

     customer         product  Count
0    Krithika           Cakes     20
1        Alan         Cookies     19
2       Kumar         Noodles     18
3      Amrish        Biscuits     17
4       Yusuf      Chocolates     17
..        ...             ...    ...
988    Ganesh  Organic Fruits      2
989    Arutra            Rice      2
990     Kumar            Rice      2
991       Amy            Rice      2
992       Ram   Breads & Buns      2

[993 rows x 3 columns]

In [67]:
### now insert the data into table student
data=[(7, "David", "Spain", "Science"),
    (8, "Prashant", "India", "Data base"),
    (9, "Kavin", "US", "Analyst"),
       ]

In [68]:
data

[(7, 'David', 'Spain', 'Science'),
 (8, 'Prashant', 'India', 'Data base'),
 (9, 'Kavin', 'US', 'Analyst')]

In [52]:
from sqlalchemy import create_engine

In [53]:
engine=create_engine('mysql+pymysql://root:mysql@localhost/sales')

In [69]:
df3=pd.DataFrame(data,columns=['roll_number','student_name','student_address','course'])

In [70]:
df3

   roll_number student_name student_address     course
0            7        David           Spain    Science
1            8     Prashant           India  Data base
2            9        Kavin              US    Analyst

In [71]:
df3.to_sql('student',con=engine,if_exists='append', index=False)

3

In [61]:
df2.to_sql('student',con=engine,if_exists='append', index=False)

3

In [72]:
query='select * from student'

In [79]:
pd.read_sql(query, connection)

C:\Users\prash\AppData\Local\Temp\ipykernel_3612\3670446567.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query, connection)

   roll_number   student_name student_address            course
0            1       John Doe     123 Main St  Computer Science
1            2     Jane Smith     456 Oak Ave       Mathematics
2            3  Alice Johnson     789 Pine Rd           Physics
3            4          David           Spain           Science
4            5       Prashant           India         Data base
5            6          Kavin              US           Analyst
6            7          David           Spain           Science
7            8       Prashant           India         Data base
8            9          Kavin              US           Analyst

In [78]:
cursor.execute(query)
cursor.fetchall()

((1, 'John Doe', '123 Main St', 'Computer Science'),
 (2, 'Jane Smith', '456 Oak Ave', 'Mathematics'),
 (3, 'Alice Johnson', '789 Pine Rd', 'Physics'),
 (4, 'David', 'Spain', 'Science'),
 (5, 'Prashant', 'India', 'Data base'),
 (6, 'Kavin', 'US', 'Analyst'),
 (7, 'David', 'Spain', 'Science'),
 (8, 'Prashant', 'India', 'Data base'),
 (9, 'Kavin', 'US', 'Analyst'))